/*GENERAL*/
@font-face{
    font-family: rouble;
    src: url(fonts/rouble.otf);
   }
@font-face{
    font-family: AvenirBold;
    src: url(fonts/AvenirNextLTPro-Heavy.otf);
   }
@font-face{
    font-family: Avenir;
    src: url(fonts/AvenirLTStd-Light.otf);
   }
@font-face{
    font-family: GothaPro;
    src: url(fonts/GothaProLig.otf);
   }
@font-face{
    font-family: GothaProMed;
    src: url(fonts/GothaProMed.otf);
   }
@font-face{
    font-family: ProximaNova-Regular;
    src: url(fonts/Proxima%20Nova%20Regular.otf);
   }
@font-face{
    font-family: ProximaNova-Bold;
    src: url(fonts/Proxima%20Nova%20Alt%20Bold.otf);
   }

* {margin: 0; padding: 0;}

html{ height: 100%}

body{ position: relative; min-height: 100%; background-color: #e5e9f0; color: #fff; margin: 0 auto}

.clearfix{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.rub{
    font-family: rouble, arial, sans-serif;
}

.piece{
    color: #d59200;
}
/*!GENERAL*/


/*HEADER*/
header{
    position: relative;
    background-color: #000;
    min-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
.header-in{
    position: relative;
    min-width: 1000px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.header-top{
    position: relative;
    height: 500px;
    overflow: hidden;
}

.slide{
    height: 100%;

}

.header-top .slider{
    overflow: hidden;
    display: block;
    position: relative;
}
.header-top .slider .slide img{
    opacity: 0.8;
}
.header-top-labels{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    line-height: 100px;
}
.header-top-labels .label{
    position: relative;
    float: left;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: Avenir, arial, sans-serif;
}
.header-info-tour{
    position: relative;
    width: 100%;
    border-top: 2px solid #d59200;
    z-index: 10;
}
.header-info-tour-in{
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
    opacity: 1;
}
.info-tour-arrows{
    position: relative;
    width: 5%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
.info-tour-arrows.left{
    float: left;
}
.info-tour-arrows.right{
    float: right;
}
.info-separator{
    position: absolute;
    left: 65%;
    width: 2px;
    height: 80px;
    background-color: #ffffff;
    opacity: 0.6;
}

.tour-image{
    width: 100%;
}

.tour-image img{
    min-width: 1000px;
    width: 100%;
    max-width: 1340px;
}

.description-tour{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.description-tour-in{
    width: 100%;
    position: relative;
    float: left;
    font-family: ProximaNova-Regular, arial, sans-serif;
    z-index: 20;
}
.tour{
    float: left;
    width: 100%;
}
.tour .name{
    font-size: 42px;
    font-family: GothaPro, arial, sans-serif;
}
.description-tour .description{
    float: left;
    font-size: 18px;
    top: -10px;
    position: relative;
    margin-left: 2%;
}
.piece-tour{
    float: right;
    text-align: right;
    margin-right: 2%;
    width: 25%;
    font-family: ProximaNova-Bold, arial, sans-serif;
}
header .piece{
    font-size: 42px;
    color: #d59200;
}
header .rub{
    font-size: 33px;
}
.person{
    line-height: 0;
    font-size: 18px;
}
.rating{
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
}
.star{
    display: inline-block;
    width: 17px;
    height: 14px;
    background-image: url(../img/icon_star.png);
}

.header-form{
    padding: 20px 0;
}

.header-form-in{
    margin: 0 auto;
    width: 480px;
}

.phone-form {
    font-size: 18px;
    text-align: center;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
}

.phone-form-error{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.header-form input[type="button"]{
    background-color: #d59200;
    border: none;
    color: #fff;
    float: right;
    border-radius: 3px;
    width: 140px;
    height: 100%;
    padding: 0 10px;
    font-weight: bold;
    font-family: ProximaNova-Bold, arial,sans-serif;
    outline: none;
    cursor: pointer;
}

.header-form input[type="button"]:hover{
    background-color: #c08400;
}

.header-form input[type="button"]:active{
    background-color: #743e00;
}

.user-phone-wrapper{
    width: 60%;
    color: #000;
    float: left;
    line-height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-family: ProximaNova-Bold, arial, sans-serif;
}

.user-phone-wrapper:before{
    content: "+7";
}

.user-phone-wrapper input{
    background-color: #ffffff;
    color: #000000;
    width: 80%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: ProximaNova-Bold, arial, sans-serif;
}
.header-stamp{
    bottom: 7%;
    position: absolute;
    right:  23%;
    opacity: 0.4;
    z-index: 25;
}
/*!HEADER*/


/*SECTION*/
section{
    min-width: 1000px;
    width: 100%;
    max-width: 1340px;
    padding-bottom: 100px;
    margin: 0 auto;
}
.section-in{
    min-width: 1000px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}
.buttons-social{
    padding: 40px 0;
}
.banners{
    width: 960px;
    margin: auto;
}
.banner{
    position: relative;
    float: left;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}
.banner-img{
    width: 300px;
    height: 200px;
}
.banner-img img{
    min-height: 100%;
    min-width: 100%;
    max-width: 130%;
    max-height: 130%;
    position: relative;
}
.banner-description{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 15px 0;
}

.banner-description .left-block{
    width: 65%;
    float: left;
}

.banner-description p{
    padding: 5px 10px;
}
.banner-date{
    font-size: 12px;
    font-family: GothaProMed, arial, sans-serif;
}
.banner-name{
    font-size: 18px;
    font-family: GothaPro, arial, sans-serif;
}
.banner-piece{
    position: absolute;
    bottom: 14px;
    right: 0;
    font-size: 18px;
    font-family: GothaProMed, arial, sans-serif;
}
.banners .rub{
    font-size: 16px;
}
.facebook-box{
    padding: 55px 0;
}
/*!SECTION*/

/*FOOTER*/
footer{
    position: absolute;
    min-width: 1000px;
    width: 100%;
    bottom: 0;
    background-color: #b2c0cb;
}
footer a{
    color: #fff;
    font-family: GothaProMed, arial, sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 100px;
    margin: 0 10px;
}
.footer-in{
    width: 1000px;
    margin: 0 auto;
}
footer .column-left{
    padding-left: 10px;
    float: left;
}
/*!FOOTER*/


/*POPUP*/

#popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left: 0;
    z-index: 999;
}

.popup-in{
    position: relative;
    margin:40px auto 0px auto;
    width: 750px;
    height: 300px;
    background-color: #fff;
    border-radius:5px;
}

.popup-in h1{
    color: #000000;
    font-family: ProximaNova-Bold, arial, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 45px 0;
}

#popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.popup-inputs{
    width: 720px;
    margin: 0 auto;
}

.popup-inputs p{
    color: #b2b2b2;
    background-color: #ffffff;
    font-family: ProximaNova-Regular, arial, sans-serif;
    font-size: 17px;
    position: absolute;
    top: -10px;
    left: 20px;
}

.popup-inputs input{
    margin: 0 10px;
    background-color: #ffffff;
    color: #5a5a5a;
}

.popup-name input, .popup-email input{
    width: 250px;
    height: 45px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    font-family: ProximaNova-Regular, arial, sans-serif;
    font-size: 16px;
}

.popup-name, .popup-email{
    position: relative;
    float: left;
}

.popup-in input[type="button"]{
    float: left;
    width: 100px;
    height: 45px;
    background-color: #d59200;
    border: 1px solid #d59200;
    border-radius: 5px;
    color: #ffffff;
    font-family: ProximaNova-Bold, arial, sans-serif;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.popup-in input[type="button"]:hover{
    background-color: #c08400;
}

.popup-in input[type="button"]:active{
    background-color: #743e00;
}

.popup-in .info {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    margin: 10px 0 0;
    font-size: 20px;
    color: black;
    font-family: ProximaNova-Bold, arial, sans-serif;
}

.popup-in .line{
    height: 1px;
    width: 100%;
    margin-top: 40px;
    background-color: #d0d0d0;
}

/*!POPUP*/

.facebook-box{
    text-align: center;
}

.vk-box{
    width: 940px;
    margin: 40px auto;
}

.buttons-social{
    display: block;
    margin: 0 auto;
    width: 420px;
}

.button-social{
    float: left;
    padding: 0 10px;
}

.button-g-plus div:first-child{
    width: 72px !important;
}

.popup-in .buttons-social{
    margin: 0 160px;
    padding: 30px 0 20px;
}